* {
    background-image: url(https://thumbs.dreamstime.com/t/cielo-gris-6009408.jpg);    
    background-size: cover;
    background-attachment: fixed;  
}


h1 {
    padding: 10px;
    text-align: center;
    color: #000e91;
    margin-left: 180px;
    margin-right: 180px;
    box-shadow: 2px 2px 10px #666;
    box-shadow: 5px -5px 0 2px #444;
    box-shadow: 5px 5px 25px #222 inset;
    text-shadow: 4px 4px 5px white;


}

p{
    margin-right: 180px;
    padding:10px;
    background: white;
    float: right;  

}


.billy {
    padding: 1px;
    width: 300px;
    border-radius: 6px;
    margin-left: 180px;
    margin-top: -3px;
    border: 2px solid #000000;
    
}

.texto2 {
    padding: 10px;
    background-color: white;
    float: left;
    margin-left: 180px;
    margin-top: -470px;
    
}

.centauro {
    padding: 2px;
    width: 360px;
    border-radius: 6px;
    margin-left: 713px;
    border: 2px solid black;
}

