* {
  background-size: cover;
  background-attachment: fixed;  

} 
h1 {
    width: 150px;
    height: 50px;
  
    background-color:rgb(212, 174, 235) ;
    box-shadow: 10px 10px rgb(174, 110, 226);
    text-align: center;
    margin: auto;
    color: white;
    text-shadow: 2px 2px 5px white;
  }
  body{
      background-image: url("images/imagen.jpg");
      background-repeat: no-repeat;
      background-size: cover;
  }

  img{
    margin-left: 625px;  
    margin-top: 50px;
    width: 280px;
    height: 370px;
    border-radius: 15px;
   
  }
  p{
    font-family: Verdana, sans-serif;
    font-size: 18px;
    color: rgb(82, 0, 158);
    padding-left: 10px;
    text-align: center;
    font-weight: bold;
  }

  h2{
    background-color:rgb(212, 174, 235) ;
    box-shadow: 10px 10px rgb(174, 110, 226);
    text-align: center;
    margin: auto;
    color: white;
    text-shadow: 2px 2px 5px white;
    width: 250px;
    height: 50px;
  }

