h1 {
    text-shadow: 2px 2px 5px rgb(255, 4, 4);
    text-align: center;
    font-size: 50px;
    border-bottom: 5px dotted ;
    border-top: 5px dotted;
    border-color: rgb(231, 77, 77);
  }
  p{  
  font-family: Garamond, serif;
  font-size: 20px;  
  text-align: center;
  }
  h3{
  text-align: center;
  font: italic bold 27px georgia serif;
  text-decoration: underline;
  color: rgb(102, 105, 107);
  }
  body{
   
 background: url(images/marmol.jpg) no-repeat center fixed;
  background-size: cover;
  }
  img {
    margin-left: 650px;
    width:200px;height:200px;
  
  }
 p.a{
    background: url(images/desierto.jpg);
  height: 70px;
  }
  img.b{
    margin-left: 600px;
    width:300px;height:200px;
  }
  img.c{
    margin-left:0px;
    width:300px;height:200px;
    margin-left: 600px;
  
  }
  h3 {
    width: 100px;
    height: 50px;
    font-weight: bold;
    position: relative;
    animation: mymove 10s infinite alternate;
   
  }
  @keyframes mymove {
    from {left: 600px;}
    to {left: 800px;}
  }
#div1 {animation-timing-function: linear;}
#div2 {animation-timing-function: ease;}
#div3 {animation-timing-function: ease-in;}
#div4 {animation-timing-function: ease-out;}
#div5 {animation-timing-function: ease-in-out;}
#div6 {animation-timing-function: linear;}
#div7 {animation-timing-function: ease-in;}
#div8 {animation-timing-function: ease-in-out;}